#block1 {
  background: url("bg1.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  margin: 0 auto;
  padding: 87px 0 87px 0;
}

#block1 #img-profil {
  padding: 80px 0 80px 0;
}

#block1 li {
  text-decoration: none;
  display: inline-block;
  padding: 0 4vw 00;
}

#block1 a {
  color: #fff;
  font-size: 2vw;
  font-variant: small-caps;
}

#block1 a:hover {
  color: #fff;
  text-decoration: none;
}

#block1 #titre1 {
  font-variant: small-caps;
}

#back {
  background: url("imgformulaire.png");
  background-size: cover;
  background-position: center;
}

.title {
  color: black;
  text-align: center;
}

.texte {
  color: #786e6e;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}

#text {
  height: 100px;
}

.form {
  width: 100%;
  border-radius: 5px;
  height: 100px;
}

.bouton {
  border-radius: 5px;
  font-weight: lighter;
  background-color: white;
  color: #986565;
  width: 100%;
  height: 30px;
}

#btn {
  display: block;
  text-align: center;
  width: auto;
  padding-bottom: 2%;
}

#res {
  margin-top: 3%;
  display: block;
  text-align: center;
}

#reseau ul li {
  display: block;
  text-align: center;
  display: inline-block;
}
